body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
}

header h1 {
  text-align: center;
}

.nav-Button {
  padding: 10px 25px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
}

.character-h1{
  text-align: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-card{
  margin: 30px;
  padding: 30px;
  border: 1px solid rgb(87, 83, 83);
  border-radius: 10px;
  box-shadow: 2px 4px darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
